/* ===== CSS RESET / NORMALIZE ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;

}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

.hidden {
    display: none !important;
}


:root {
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --font-italic: italic;

  --color-purple-100: #f6e7ff;
  --color-purple-600: #a729f5;

  --color-orage-50: #fff5ed;
  --color-orage-400: #ff7e35;

  --color-green-100: #e0fdef;
  --color-green-500: #2fd887;

  --color-blue-50: #ebf0ff;
  --color-blue-100: #edf1f9;
  --color-blue-300: #abc1e1;
  --color-blue-500: #2fd887;

  --color-grey-50: #f4f6fa;
  --color-grey-500: #626c7f;
  --color-white: #ffffff;
}

body {
   min-height: 100vh;
    background-color: var(--color-main);
    justify-content: center;
  line-height: 1;
  font-weight: var(--fw-medium);
  display: flex;
  flex-direction: column;
  align-items: center; /* горизонталь */
 }
/* ===== BASIC (LIGHT) THEME ===== */
:root {
  --color-main: #f4f6fa;
  --color-card: #ffffff;
  --color-text-main: #313e51;
  --color-text-secondary: #626c7f;
  --border: #e3e3e3;
  --progress-bg: #ffffff;
  --progress-fill: #a729f5;
}

/* ===== DARK THEME ===== */
body.theme-dark {
  --color-main: #313e51;
  --color-card: #3b4d66;
  --color-text-main: #ffffff;
  --color-text-secondary: #abc1e1;
  --border: #4b5a74;
  --progress-bg: #3b4d66;
  --progress-fill: #a729f5;
}

/* Typography */

.preset1 {
  font-size: 144px;
}
.preset1-mobile {
  font-size: 88px;
}
.preset2-medium {
  font-size: 64px;
}
.preset2-medium-mobile {
  font-size: 40px;
  font-weight: var(--fw-medium);
}
.preset2-light {
  font-size: 64px;
  font-weight: var(--fw-light);
}
.preset2-light-mobile {
  font-size: 40px;
  font-weight: var(--fw-light);
}
.preset3 {
  font-size: 36px;
  line-height: 1.2;
}
.preset3-mobile {
  font-size: 20px;
  line-height: 1.2;
}
.preset4 {
  font-size: 28px;
}
.preset4-mobile {
  font-size: 18px;
}
.preset5-medium {
  font-size: 24px;
  line-height: 1.5;
}
.preset5-regular {
  font-size: 24px;
  line-height: 1.5;
  font-weight: var(--fw-regular);
}
.preset5-mobile {
  font-size: 14px;
  line-height: 1.5;
  font-style: var(--font-italic);
  font-weight: var(--fw-regular);
}
.preset6 {
  font-size: 20px;
  line-height: 1.5;
  font-style: var(--font-italic);
}
