/* ===== LAYOUT ===== */

body {
  /* min-width: 375px; */
  /* background-color: var(--color-main); */
  /* margin: 0 auto; */
}

.main-container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: var(--color-main);
}

/* ===== HEADER ===== */
header.theme {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.subject-img-container {
  display: flex;
  background-color: var(--color-purple-100);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.subject-img-container img {
  width: 29px;
  height: 29px;
}
.subject-text {
  color: var(--color-text-main);
}
.dark-white-style {
  display: flex;
  align-items: center;
  gap: 12px;
}
.toggle input {
  display: none;
}
.toggle {
  width: 48px;
  height: 24px;
  background-color: var(--color-purple-500);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}
.toggle input:checked + .toggle-slider {
  transform: translateX(24px);
}
#theme-toggle {
  width: 32px;
  height: 20px;
}

/* ===== SCREEN COMMON ===== */

.screen {
  padding: 32px 24px 0 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.screen.active {
}

.screen.hidden {
  display: none;
}

/* ===== SELECT SCREEN ===== */

.screen-select {
  margin-bottom: 207px;
}

.select-welcome {
  margin: 0 auto;
}

.select-welcome-h1 {
  margin-bottom: 8px;
  color: var(--color-text-main);
}

.select-welcome-h1-span {
  margin-bottom: 16px;
  color: var(--color-text-main);
}

.select-welcome-text {
  color: var(--color-text-secondary);
}

.select-subject-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select-subject-item {
  display: none;
}

.select-subject-label {
  background-color: var(--color-card);
  color: var(--color-text-main);
  border-radius: 12px;
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
}
.select-subject-img-container {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.html-card {
  background-color: var(--color-orage-50);
}
.html-css {
  background-color: var(--color-green-100);
}
.html-js {
  background-color: var(--color-blue-50);
}
.html-access {
  background-color: var(--color-purple-100);
}
.select-subject-label img {
  display: flex;
  width: 28.5px;
  height: 28.5px;
  margin: 0 auto;
  /* align-items: center; */
}

/* ===== QUESTION SCREEN ===== */

.screen-question {
}

.question-title {
}

.question-counter {
  margin-bottom: 16px;
  color: var(--color-text-secondary);
}

.question-content {
  color: var(--color-text-main);
  margin-bottom: 24px;
}

.quiz-progress__track {
  width: 100%;
  height: 16px;
  background-color: var(--color-card);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 40px;
}

.quiz-progress__bar {
  height: 100%;
  width: 0%;
  background-color: var(--progress-fill);
  transition: width 0.3s ease;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.answer-item {
  display: flex;
  background-color: var(--color-card);
  border-radius: 12px;
}
.select-answer-label {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
  cursor: pointer;
}
.answer-letter {
  font-weight: bold;
  min-width: 24px;
  background-color: var(--color-grey-50);
  color: var(--color-grey-500);
}
.answer-content {
  flex: 1; /* текст занимает всё свободное место */
}
.answer-icon {
  width: 24px;
  height: 24px;
}
.select-answer-item {
  display: none;
}
/* .letter-and-question {
  display: flex;
  flex-direction: row;
  gap: 16px;
} */
.answer-content {
}

.submit-btn {
}

/* ===== RESULT SCREEN ===== */

.screen-result {
}

.screen-result-title {
}

.screen-result-span {
}

.result-total {
}

.result-subject-text {
}

.result-total-questions {
}

.result-btn {
}
